<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ site.title }}</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
  </head>

  <body class="overflow-hidden h-screen flex">
    <div class="h-full w-1/3 p-20 pe-10 flex flex-col justify-between">
      <div class="flex flex-col">
        <a class="navlink text-3xl font-bold" href="/">{{ page.title }}</a>

        {% if page.sidebar_type == "links" %}
        <div class="flex items-center gap-4 w-full my-6">
          <div
            class="text-accent hover:text-primary transaition-all duration-500 cursor-pointer"
          >
            {% include icons/envelope.html %}
          </div>
          <a
            href="https://github.com/GursheenK"
            class="text-accent hover:text-primary transaition-all duration-500 cursor-pointer"
          >
            {% include icons/github.html %}
          </a>
          <a
            href="https://linkedin.com/in/gursheen-kaur-anand"
            class="text-accent hover:text-primary transaition-all duration-500 cursor-pointer"
          >
            {% include icons/linkedin.html %}
        </a>
        </div>

        {% else %}
        <div class="text-sm text-accent opacity-70 mt-2 mb-4">
          {{ page.date | date: "%d/%m/%Y" }}
        </div>

        <div class="border-t-[0.5px] border-primary opacity-30 rounded"></div>

        <div class="text-base text-secondary opacity-70 text-justify my-4">
          {{ page.subtitle }}
        </div>
        {% endif %}
      </div>

      <div class="flex flex-col gap-3">
        <a
          href="/"
          class="navlink text-xl font-bold hover:text-accent text-primary"
        >
          Blog
        </a>
        <a
          href="/about"
          class="navlink text-xl font-bold hover:text-accent text-primary"
        >
          About
        </a>
      </div>
    </div>

    <div
      id="rightDiv"
      class="h-full w-2/3 p-20 ps-10 overflow-y-auto overscroll-contain"
    >
      <div class="h-20 w-full absolute top-0 bg-surface z-10"></div>

      <div class="px-2 post-content">{{ content }}</div>

      <div class="h-20 w-full absolute bottom-0 bg-surface z-10"></div>
    </div>
  </body>

  <script>
    const handleScroll = (e) => {
      const rightDiv = document.getElementById("rightDiv");
      rightDiv.scrollTop += e.deltaY;
      e.preventDefault();
    };

    window.addEventListener("wheel", handleScroll, { passive: false });
  </script>
</html>
